.DS_Store

### ide ###
.idea/

### package module ###
/node_modules

### yarn ###
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
# if you want to unused Zero-Install
.pnp.*
yarn.lock
# if you want to used Zero-Install
#!.yarn/cache

### output ###
/dist

### logs ###
*.log
